.abg-switch__container {
  width: auto !important;
  height: 27px !important;
  min-height: 20px !important;
  position: absolute !important;
  right: 10px !important;
  font-size: 12px !important;
  background-color: rgba(35, 55, 75, 0.9) !important;

  .abg-switch__item {
    padding: 13px;
    width: 55px;
  }

  .abg-switch__overlay {
    background-color: white;
    box-shadow: 0 0 6px 1px white;
  }

  .abg-switch__item.abg-switch__item--on {
    color: rgba(35, 55, 75, 0.9);
  }

}